<h1>Collaborators</h1>

  <div>
    <%= link_to "See all Wikis", wikis_path %>
  </div>

  <hr>

  <ul>
    <%= form_tag wiki_collaborators_path(@wiki) do %>
      <%@users.each do |n|%>
        <li>
          <%= check_box_tag 'user_ids[]', n.id -%>
          <%= n.email %>
        </li>
      <%end%>
        <%= submit_tag(value = "Update collaborators for this Wiki") %>
    <%end%>
  </ul>

  <hr>






