
  <div>
    <%= link_to "See all Wikis", wikis_path %>
  </div>

  <h1><%= markdown @wiki.name %></h1>

  <h4><%= markdown @wiki.body %></h4>

  <p><% if @wiki.private == true %>
    This is a private wiki.
    <% else %>      
    This is a public wiki.
    <% end %> 
  </p>

  <div>
   <%= link_to "Wiki Collaborators", show_wiki_collaborators_path %>
  </div>

#! Pending to define this link to collaborators view.

=begin

  <div>
    <%= link_to "Collaborators", wiki_collaborators_path(@wiki) %>
  </div>
  
=end

  <hr>

  <div>
    <%= link_to "Edit Wiki", edit_wiki_path(@wiki) %>
  </div>
  
  <div>
     <%= link_to "Delete", @wiki, method: :delete, confirm: 'Are you sure you want to delete this wiki?' %>
  </div>


